[alias]
  amend = commit --amend
  authors = !git log --all --format='%cN <%cE>' | sort -u
  a = add
  ba = branch -a
  bm = branch -m
  bn = checkout -b
  br = branch -r
  b = branch
  ca = commit -a -m
  clear = !git reset --hard HEAD && git clean -df && git pull
  cl = clone
  co = checkout
  cp = cherry-pick
  c = commit -m
  discard = reset --hard HEAD
  dt = difftool
  d = diff
  lm = log --abbrev-commit --pretty=oneline --author='Łukasz Wieczorek'
  br = branch -a
  l = log --abbrev-commit --pretty=oneline
  mes = log -n 1 --pretty=format:%s
  mt = mergetool
  m = merge
  pm = push origin master
  pu = pull origin
  p = push origin
  rc = rm --cached
  reset = reset HEAD --
  s = status
  undo = reset --soft HEAD~1
[core]
  autocrlf = input
[diff]
  tool = meld
[difftool]
  prompt = false
[include]
  path = ~/.gitemail
[merge]
  tool = meld
[push]
  default = current
[user]
  name = 'Łukasz Wieczorek'
