
[alias]
  a = add
  aa = add --all
  amend = commit --amend
  authors = !git log --all --format='%cN <%cE>' | sort -u
  b = branch
  ba = branch -a
  bd = branch -d
  bdf = branch -D
  bm = branch -m
  bn = checkout -b
  br = branch -r
  c = commit
  ca = commit -a -m
  cb = rev-parse --abbrev-ref @
  cl = clone
  cln = !git clean -dfnx -e /.idea/ && echo 'Are you sure?' && read _ && git clean -dfx -e /.idea/
  clr = checkout @ -- .
  cm = commit -m
  co = checkout
  contains = branch --contains
  cp = cherry-pick
  cpa = cherry-pick --abort
  d = diff
  da = diff @
  db = push --delete origin
  dc = diff --cached
  del = push --delete origin
  discard = !git reset @ -- . && git checkout @ -- .
  ds = diff stash@{0}
  f = fetch --all --prune
  fa = fame --by-type --branch=development
  fg = log --all  --
  hash = rev-parse --short @
  ignore = !vim .git/info/exclude
  l = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
  less = !less -R
  lm = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)' --abbrev-commit --author='Łukasz Wieczorek' --date=relative
  lo = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit -1
  ls = log --graph --oneline --decorate
  m = merge
  ma = merge --abort
  merged = branch --merged
  mm = merge --no-ff
  msg = log -n 1 --pretty=format:%s
  mt = mergetool
  notmerged = branch --no-merged
  p = push
  patch = show -p
  pf = push --force-with-lease
  po = push origin
  pr = !git checkout master && git pull origin master && git checkout - && git rebase master --committer-date-is-author-date --preserve-merges && git push --force-with-lease
  pt = push --tags
  pu = pull
  pul = pull .
  pur = pull --rebase
  r = rebase
  ra = rebase --abort
  rc = rebase --continue
  restore = checkout @ --
  rf = !rm -rf
  ri = rebase --interactive --rebase-merges
  rm = !rm
  rst = reset
  rstf = "!f() { HEAD=`git rev-parse --abbrev-ref @`; git reset --hard \"origin/${HEAD}\"; }; f"
  s = status
  sst = show stash@{0}
  st = stash
  sta = stash apply --index
  stand = standup -a 'all'
  stats = diff --stat
  std = stash drop
  stl = stash list
  stp = stash pop
  stpi = stash pop --index
  sts = stash save
  stua = !git stash show -p | git apply -R
  td = tag -d
  undo = reset --soft @~1
  up = !git add --all && git commit --amend --no-edit && git push --force
  upstream = "!f() { HEAD=`git rev-parse --abbrev-ref @`; git branch --set-upstream-to=origin/$HEAD $HEAD; }; f"
  vi = !vi
  vim = !vim
[core]
  autocrlf = false
  eol = lf
  fileMode = false
[diff]
  tool = meld
[difftool]
  prompt = false
[difftool "meld"]
  trustExitCode = true
  cmd = open -W -a Meld --args \"$LOCAL\" \"$REMOTE\"
[include]
  path = ~/.gituser
  path = ~/.gitlocal
[merge]
  conflictstyle = diff3
  tool = meld
[mergetool]
  prompt = false
  keepBackup = false
[mergetool "meld"]
  trustExitCode = true
  cmd = open -W -a Meld --args --auto-merge \"$LOCAL\" \"$BASE\" \"$REMOTE\" --output=\"$MERGED\"
[push]
  default = current
[init]
  defaultBranch = main
